/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  body .portrait .portrait-text .text-content {
    margin-top: 20px;
    font-size: 12px; }
  body .portrait .portrait-content {
    margin: 0 30px; } }

/* Medium Devices, Wide Screens */
@media only screen and (max-width: 1024px) {
  body .header-content .header-buttons .button a {
    font-size: 16px; }
  body .header-text .text-h {
    font-size: 20px; }
  body .header-text .text-content {
    font-size: 14px; }
  body .portrait .portrait-text .text-h {
    font-size: 22px; }
  body .portrait .portrait-text .text-content {
    margin-top: 10px;
    font-size: 12px; }
  body .portrait .portrait-content {
    margin: 0 10px; }
  body .nature {
    padding: 20px 10px; }
    body .nature .nature-content .h {
      font-size: 25px; }
    body .nature .nature-content .text {
      font-size: 12px; }
  body .whole-part {
    margin-top: 50px; }
    body .whole-part .whole-head .h-small {
      margin-top: 7px;
      font-size: 50px; }
    body .whole-part .whole-content {
      padding-top: 70px; }
  body .street-part .street {
    padding: 20px 20px;
    grid-gap: 15px 10px; }
    body .street-part .street .street-content .h {
      font-size: 27px; }
    body .street-part .street .street-content .text {
      font-size: 15px;
      margin-bottom: 0; }
  body .collection {
    margin: 100px 40px; }
    body .collection .collection-content {
      grid-gap: 10px; }
      body .collection .collection-content .photo-text .h {
        font-size: 25px; }
      body .collection .collection-content .photo-text .text {
        font-size: 14px; }
      body .collection .collection-content .photo-text .button {
        font-size: 10px;
        padding: 3px 5px; }
  body .content .about .h {
    font-size: 21px;
    padding-top: 6px; }
  body .content .about .text {
    font-size: 13px; }
  body .content .about button {
    font-size: 12px; }
  body .content .latest p {
    font-size: 21px; }
  body .content .latest .january p {
    font-size: 14px; }
  body .content .latest .december p {
    font-size: 14px; }
  body .content .latest .november p {
    font-size: 14px; }
  body .content .contact .h {
    font-size: 21px; }
  body .content .contact .contact {
    font-size: 14px;
    margin-top: 3px; }
  body .content .contact .sites {
    margin: 12px 0; } }

/* Medium Devices, Tablets */
@media only screen and (max-width: 920px) {
  body .portrait {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0; }
    body .portrait .portrait-text .text-h {
      font-size: 30px; }
    body .portrait .portrait-text .text-content {
      margin: 0;
      font-size: 13px; }
    body .portrait .portrait-content {
      margin: 0 10px; }
      body .portrait .portrait-content:nth-child(4) {
        display: none; }
      body .portrait .portrait-content .portrait-photo {
        width: 90%;
        margin-left: 20px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  body .header-content .header-buttons .button a {
    font-size: 14px; }
  body .header-text .text-h {
    font-size: 16px; }
  body .header-text .text-content {
    font-size: 13px;
    width: 60%; }
  body .portrait {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; }
    body .portrait .portrait-text .text-h {
      font-size: 30px; }
    body .portrait .portrait-text .text-content {
      margin: 0;
      font-size: 13px; }
    body .portrait .portrait-content {
      margin: 0; }
      body .portrait .portrait-content:nth-child(3) {
        display: none; }
      body .portrait .portrait-content:nth-child(4) {
        display: none; }
      body .portrait .portrait-content .portrait-photo {
        width: 70%;
        margin-left: 40px; }
  body .our-blog {
    height: 100px; }
    body .our-blog .text-blog {
      font-size: 18px;
      padding: 0; }
    body .our-blog .button-blog {
      font-size: 14px; }
  body .nature {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px; }
    body .nature .nature-content:last-child {
      display: none; }
  body .whole-part .whole-head .h-small {
    margin-top: 7px;
    font-size: 40px; }
  body .whole-part .whole-content {
    grid-template-columns: repeat(4, 1fr);
    padding-top: 70px; }
    body .whole-part .whole-content .whole-text:nth-child(2) {
      display: none; }
  body .street-part .street {
    grid-template-columns: repeat(2, 1fr); }
    body .street-part .street .street-content:nth-child(3) {
      display: none; }
    body .street-part .street .street-content .h {
      font-size: 25px; }
    body .street-part .street .street-content .text {
      font-size: 12px; }
  body .collection .collection-content {
    grid-template-columns: repeat(3, 1fr); }
    body .collection .collection-content .photo:nth-child(1) {
      display: none; } }

@media only screen and (max-width: 580px) {
  body .street-part .street .street-content:nth-child(1) {
    display: none; }
  body .street-part .street .street-content:nth-child(2) {
    grid-column: 1/3; }
  body .collection .collection-content {
    grid-template-columns: repeat(2, 1fr); }
    body .collection .collection-content .photo:nth-child(3) {
      display: none; }
  body .content {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  body .header-content {
    height: 85px; }
    body .header-content .header-buttons {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 200px; }
      body .header-content .header-buttons .button:nth-child(2) {
        visibility: hidden; }
      body .header-content .header-buttons .button:nth-child(3) {
        visibility: hidden; }
      body .header-content .header-buttons .button:nth-child(4) {
        visibility: hidden; }
      body .header-content .header-buttons .button:nth-child(5) {
        visibility: hidden; }
      body .header-content .header-buttons .button:last-child {
        visibility: hidden; }
  body .header-text {
    height: 78vh; }
    body .header-text .text-content {
      width: 70%;
      font-size: 13px; }
  body .portrait {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 60px;
    margin-bottom: 60px; }
    body .portrait .portrait-text {
      border-left: 1px solid #000;
      margin-left: 10px;
      padding-left: 10px;
      padding-right: 20px; }
      body .portrait .portrait-text .text-h {
        margin: 0;
        font-size: 28px; }
      body .portrait .portrait-text .text-content {
        font-size: 14px;
        text-align: justify; }
    body .portrait .portrait-content {
      margin: 0; }
      body .portrait .portrait-content .portrait-photo {
        margin-left: 0;
        justify-self: center;
        width: 60%; }
  body .nature {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    margin-top: 20px; }
    body .nature .nature-content {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      body .nature .nature-content:first-child {
        display: none; }
      body .nature .nature-content:last-child {
        display: inherit; }
      body .nature .nature-content .h {
        padding-bottom: 20px; }
      body .nature .nature-content .text {
        text-align: justify;
        font-size: 14px; }
  body .whole-part .whole-head .h-small {
    font-size: 33px; }
  body .whole-part .whole-head .h-big {
    font-size: 28px; }
  body .whole-part .whole-content {
    padding-top: 10px;
    grid-gap: 0;
    margin: 0;
    grid-template-columns: none;
    grid-template-rows: repeat(1, 1fr); }
    body .whole-part .whole-content .whole-text {
      padding-top: 0; }
      body .whole-part .whole-content .whole-text:nth-child(2) {
        display: none; }
      body .whole-part .whole-content .whole-text:nth-child(4) {
        display: none; }
      body .whole-part .whole-content .whole-text .whole-img {
        width: 60%; }
  body .street-part {
    margin-top: 20px; }
    body .street-part .street {
      grid-template-columns: none; }
      body .street-part .street .street-content:nth-child(2) {
        grid-column: 1; }
      body .street-part .street .street-content:nth-child(1) {
        display: none; }
      body .street-part .street .street-content:nth-child(4) {
        display: none; }
      body .street-part .street .street-content:nth-child(3) {
        display: none; }
      body .street-part .street .street-content .h {
        font-size: 25px; }
      body .street-part .street .street-content .text {
        font-size: 13px; }
  body .collection {
    margin: 50px 10px; }
    body .collection .collection-content {
      grid-template-columns: none;
      grid-template-rows: repeat(1, 1fr); }
      body .collection .collection-content .photo:nth-child(1) {
        display: none; }
      body .collection .collection-content .photo:nth-child(2) {
        display: none; }
      body .collection .collection-content .photo:nth-child(3) {
        display: none; }
      body .collection .collection-content .photo-text .text {
        font-size: 13px; }
  body .slider .slider-owl {
    margin: 0; }
  body .content {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none; }
    body .content .about {
      margin-top: 10px; }
      body .content .about .h {
        font-size: 21px; }
      body .content .about .text {
        font-size: 14px; }
      body .content .about button {
        font-size: 13px; }
    body .content .latest p {
      font-size: 21px; }
    body .content .latest .january {
      margin: 5px 10px; }
      body .content .latest .january p {
        font-size: 14px; }
    body .content .latest .december {
      margin: 5px 10px; }
      body .content .latest .december p {
        font-size: 14px; }
    body .content .latest .november {
      margin: 5px 10px; }
      body .content .latest .november p {
        font-size: 14px; }
    body .content .contact .h {
      font-size: 21px;
      margin: 12px 0; }
    body .content .contact .contact {
      font-size: 14px;
      margin: 0; }
    body .content .contact .sites {
      margin: 12px 0; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
  body .nature-part .nature {
    padding-bottom: 0; }
  body .whole-part {
    margin-top: 0; } }

body {
  margin: 0;
  padding: 0;
  min-width: 320px; }

.grid {
  display: grid; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.main-header {
  height: 100vh;
  min-height: 375px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: relative; }

.header-content {
  height: 90px;
  background-color: rgba(255, 255, 255, 0.65); }

.header-buttons {
  height: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative; }
  .header-buttons .button a {
    text-decoration: none;
    color: #212121;
    font-family: "Arial";
    line-height: 1;
    font-size: 18px; }
    .header-buttons .button a:hover {
      color: #616161; }
    .header-buttons .button a:active {
      color: #fff; }

.header-text {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Ebrima";
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 70vh; }
  .header-text .text-h {
    background-color: rgba(255, 255, 255, 0.65);
    margin: 0 0 5px 0;
    font-size: 22px;
    padding: 1px 10px; }
  .header-text .text-content {
    font-size: 16px;
    margin: 0;
    padding: 1px 10px;
    background-color: rgba(255, 255, 255, 0.65);
    width: 550px;
    text-align: justify; }

.portrait {
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
  margin-bottom: 60px; }
  .portrait .portrait-text {
    font-family: "Ebrima";
    border-left: 1px solid #000;
    margin-left: 20px;
    padding-left: 10px; }
    .portrait .portrait-text .text-h {
      margin: 0;
      font-size: 25px; }
    .portrait .portrait-text .text-content {
      margin-top: 30px;
      font-size: 13px;
      text-align: justify; }
  .portrait .portrait-content {
    margin: 0 45px; }
    .portrait .portrait-content .portrait-photo {
      width: 100%; }

.our-blog {
  font-family: "Ebrima";
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  height: 140px; }
  .our-blog .text-blog {
    font-size: 20px;
    color: #fff;
    padding-bottom: 15px; }
  .our-blog .button-blog {
    border: none;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 2px 15px;
    background-color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
    color: #000;
    font-size: 17px;
    opacity: .60; }
    .our-blog .button-blog:hover {
      -webkit-transition: opacity .5s ease;
      -o-transition: opacity .5s ease;
      transition: opacity .5s ease;
      opacity: .99; }

.nature-part {
  font-family: "Ebrima"; }

.nature {
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 40px;
  margin-top: 80px; }
  .nature .nature-content {
    width: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .nature .nature-content .h {
      margin: 0;
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start;
      padding: 0 10px;
      font-size: 30px; }
    .nature .nature-content .text {
      border-top: 1px solid rgba(0, 0, 0, 0.4);
      text-align: justify;
      margin: 0 10px;
      font-size: 13px;
      padding-top: 11px; }
    .nature .nature-content .read {
      font-size: 13px;
      margin-right: 10px;
      text-decoration: none;
      border: none;
      padding: 1px 10px 3px 10px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
              border-radius: 10px;
      opacity: .60; }
      .nature .nature-content .read:hover {
        -webkit-transition: opacity .5s ease;
        -o-transition: opacity .5s ease;
        transition: opacity .5s ease;
        opacity: .99; }

.whole-part {
  margin-top: 100px;
  font-family: "Ebrima"; }
  .whole-part .whole-head {
    text-align: center; }
    .whole-part .whole-head .h-small {
      font-weight: bold;
      font-size: 60px;
      position: absolute;
      color: rgba(0, 0, 0, 0.05);
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0; }
    .whole-part .whole-head .h-big {
      font-weight: bold;
      font-size: 25px;
      padding-top: 23px; }
  .whole-part .whole-content {
    margin: 0 10px;
    padding-top: 100px;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0 10px; }
    .whole-part .whole-content .whole-text {
      text-align: center;
      font-size: 18px; }
      .whole-part .whole-content .whole-text .whole-img {
        width: 100%;
        justify-self: center; }

.street-part {
  margin-top: 100px; }

.street {
  grid-template-columns: repeat(3, 1fr);
  font-family: "Ebrima";
  padding: 30px 60px;
  grid-gap: 25px 20px; }

.street-content {
  width: 100%;
  justify-self: center; }
  .street-content:nth-child(2) {
    grid-column: 2/4;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .street-content .h {
    font-size: 32px;
    margin: 0; }
  .street-content .text {
    text-align: justify; }
  .street-content .line {
    width: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.collection {
  margin: 100px 50px;
  font-family: "Ebrima"; }

.collection-content {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; }
  .collection-content .photo {
    width: 100%; }
  .collection-content .photo-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: right; }
    .collection-content .photo-text .h {
      font-size: 27px;
      margin: 0; }
    .collection-content .photo-text hr {
      width: 70%; }
    .collection-content .photo-text .text {
      margin: 0; }
    .collection-content .photo-text .button {
      color: #000;
      text-decoration: none;
      font-size: 12px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      -webkit-border-radius: 6px;
              border-radius: 6px;
      padding: 2px 5px;
      opacity: .60; }
      .collection-content .photo-text .button:hover {
        -webkit-transition: opacity .5s ease;
        -o-transition: opacity .5s ease;
        transition: opacity .5s ease;
        opacity: .99; }

.slider {
  padding-bottom: 40px; }

.slider-owl {
  margin: 0 30px; }

.potd {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: center;
  font-family: "Ebrima";
  font-size: 27px; }

footer {
  color: #fff;
  font-family: "Ebrima";
  min-height: 40vh;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: relative; }

.content {
  grid-template-columns: repeat(3, 1fr); }

.about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .about .h {
    font-size: 25px;
    margin: 0;
    padding-top: 10px; }
  .about .text {
    font-family: "Ebrima";
    font-size: 15px;
    text-align: justify;
    width: 75%;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1.5px solid #fff; }
  .about button {
    padding-right: 55px;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    color: #fff;
    font-size: 15px;
    border: none;
    background-color: transparent; }
    .about button a {
      text-decoration: none;
      color: #fff; }
      .about button a:hover {
        color: rgba(255, 255, 255, 0.5); }

.latest {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }
  .latest p {
    margin: 10px 0 0;
    font-size: 25px; }
  .latest .january {
    cursor: pointer;
    opacity: .60;
    margin: 5px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .latest .january img {
      margin-right: 15px; }
    .latest .january p {
      font-size: 15px;
      padding-left: 5px;
      border-left: 1.2px solid #fff; }
    .latest .january:hover {
      opacity: .99;
      -webkit-transition: opacity .5s ease;
      -o-transition: opacity .5s ease;
      transition: opacity .5s ease; }
  .latest .december {
    cursor: pointer;
    opacity: .60;
    margin: 5px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .latest .december img {
      margin-right: 15px; }
    .latest .december p {
      font-size: 15px;
      padding-left: 5px;
      border-left: 1.2px solid #fff; }
    .latest .december:hover {
      -webkit-transition: opacity .7s ease;
      -o-transition: opacity .7s ease;
      transition: opacity .7s ease;
      opacity: .99; }
  .latest .november {
    cursor: pointer;
    opacity: .60;
    margin: 5px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .latest .november img {
      margin-right: 15px; }
    .latest .november p {
      font-size: 15px;
      padding-left: 5px;
      border-left: 1.2px solid #fff; }
    .latest .november:hover {
      -webkit-transition: opacity .7s ease;
      -o-transition: opacity .7s ease;
      transition: opacity .7s ease;
      opacity: .99; }

.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .contact .h {
    font-size: 25px;
    margin: 20px 0; }
  .contact .contact {
    margin: 5px 0; }
  .contact .sites {
    margin: 20px 0; }
